<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/ONRE_DS/src/main/java/edu/iitd/cse/open_nre/onre_ds/runner/ClassifyMisclassifiedSentences.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.iitd.cse.open_nre.onre_ds.runner.ClassifyMisclassifiedSentences"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="/home/harinder/Documents/IITD_MTP/Open_nre/ONRE/data/extractions_0003wb-89_top500_2000sentences/type5_chng_1to14_tagged /home/harinder/Documents/IITD_MTP/Open_nre/ONRE/data/extractions_0003wb-89_top500_2000sentences/misclassifications"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ONRE_DS"/>
</launchConfiguration>
